---
export const prerender = true;

import BaseLayout from "../layouts/BaseLayout.astro";
import { getAllProducts } from "@/repositories/index";

const products = await getAllProducts();
---

<BaseLayout title="Home Page">
  <section class="min-h-dvh min-w-full bg-gray-50 p-4">
    <h1 class="font-semibold text-3xl">Home Page</h1>
    <section class="mt-4 grid grid-cols-4 gap-2">
      {
        products.map((product) => (
          <a
            href={`/products/${product.slug}`}
            class="p-4 bg-blue-200 rounded-lg"
          >
            <section>
              <h2 class="font-semibold text-xl">{product.product}</h2>
              <p class="text-gray-500">{product.description}</p>
              <p class="text-gray-500">
                {product.createdAt
                  ? new Date(product.createdAt).toDateString()
                  : product.createdAt}
              </p>
            </section>
          </a>
        ))
      }
    </section>
  </section>
</BaseLayout>
